<%- include("partials/header") %>

<h1>This will become home route</h1>

<li><a href="/register">Sign Up<a/></li>
<li><a href="/login">Login<a/></li>
<li><a href="/logout">Logout<a/></li>



<%- include("partials/footer") %>