<!DOCTYPE html>
<html>
<head>
	<title>serving html</title>
	<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
	<%- include('partials/nav') -%>
</head>
<body>
	<h1>New Page</h1>

	 

</body>
</html> 